body{
    margin: 0;
    padding: 0;
}
.nav-person{
    border-bottom: 1px solid white;
}
.imagem-logo{
    width: 30%;
    padding: 2% 0 2% 0;
}

.container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.title-cardapio{
    text-align: center;
    color: aliceblue;
}
.card-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-card{
    color: orange;
    font-weight: 700;font-size: 1.2rem;
}
.footer-sociais{
    text-align: center;
    font-size: 1.2rem;
    padding: 2% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 8vh;
}
.icon-footer{
    width: 5%;
    height: 5%;
    margin-right: 2%;
}
a{text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;}

    .btn-voltar{
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: orange;
        border-radius: 100%;
        padding: 15px;
        position: fixed;
        bottom: 8%;
        right: 5%;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.534);
    }
    .btn-voltar img{
        width: 100%;
    }
